<div>
  <div class="flex content-center justify-between">
    <h1 class="font-bold text-blue-800 text-3xl my-2">Get Suggestions</h1>
  </div>
  <form (submit)="submit()" ngNativeValidate>
    <div class="flex flex-col gap-4">
      <div class="form-group">
        <label for="name" class="form-label inline-block mb-2 text-gray-700">Name</label>
        <input id="name" name="name" type="text" placeholder="Enter name" [(ngModel)]="input" required #first="ngModel" autofocus class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
      </div>
      <button class="bg-blue-900 text-white px-2 py-1 rounded">Submit</button>
    </div>
  </form>
</div>
