<label *ngIf="label" [for]="id" class="form-label inline-block mb-2 text-gray-700">{{ label }}</label>
<input [id]="id" [name]="name" [type]="type" [placeholder]="placeholder" [(ngModel)]="input" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-describedby="emailHelp">
<!-- <small class="block mt-1 text-xs text-gray-600">We'll never share your email with anyone else.</small> -->
<div>{{ input }}</div>
